.card__container{
    width: 100%;
    height: auto;
    padding: 20px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 10px;
    &.shadow{
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
}