@import '../../../../styles.scss';
button {
  background: $accent;
}
.order{
  margin-top: 4px;
  width: 80vw;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  .section__table{
    table, th, td {
      text-align: center;
      padding: 4px;
      border: 1px solid rgb(211, 209, 209);
      border-collapse: collapse;
    }
    th{
      padding: 14px;
    }
    .no-data{
      width: 100%;
      text-align: center;
    }
  }
}
.order__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}