<div class="order">
  <div>
    <app-card-component [isShadow]="true">
      <div class="order__header">
        <div><h3>Table Order</h3></div>
        <div>
          <app-btn-component (clickBtn)="handleASC()">ASC</app-btn-component>
          <app-btn-component (clickBtn)="handleDESC()">DESC</app-btn-component>
          <app-btn-component [routerLink]="['/order/add-order']"
            >Add</app-btn-component
          >
        </div>
      </div>
    </app-card-component>
  </div>
  <div class="section__table">
    <app-card-component [isShadow]="true">
      <table style="width: 100%">
        <thead>
          <tr>
            <th *ngFor="let header of headerTable">{{ header }}</th>
          </tr>
        </thead>
        <tbody *ngIf="ordersm.length !== 0; else ordersEmpty">
          <tr *ngFor="let order of ordersm; index as i">
            <td>{{ i + 1 }}</td>
            <td>{{ order._id }}</td>
            <td>{{ order.name }}</td>
            <td>{{ order.quality }}</td>
            <td>{{ order.price | currency: "THB" }}</td>
            <td>{{ order.create_date | date: "shortDate" }}</td>
            <td style="width: 240px">
              <app-btn-component [routerLink]="['update-order', order._id]"
                >Edit</app-btn-component
              >
              <app-btn-component (click)="handleDelete(order._id)"
                >Delete</app-btn-component
              >
            </td>
          </tr>
        </tbody>
        <ng-template #ordersEmpty>
          <div class="no-data">
            <p>No data</p>
          </div>
        </ng-template>
      </table>
    </app-card-component>
  </div>
</div>
