<div class="add-order">
  <app-card-component [isShadow]="true">
    <div class="title"><h3>Add Order</h3></div>
    <form [formGroup]="orderForm" (ngSubmit)="onSubmit()" class="form">
      <div class="inputs">
        <label for="name"> Order Name </label>
        <input
          id="name"
          type="text"
          formControlName="name"
          placeholder="name"
          required
        />
      </div>
      <div class="inputs">
        <label for="quality"> Quality </label>
        <input
          id="quality"
          type="number"
          formControlName="quality"
          placeholder="0"
        />
      </div>
      <div class="inputs">
        <label for="price"> Price </label>
        <input
          id="quality"
          type="number"
          formControlName="price"
          placeholder="0"
        />
      </div>
      <div class="btn__action">
        <button class="button_cancel" (click)="handleCancel()">Cancel</button>
        <button class="button_submit" type="submit">Submit</button>
      </div>
    </form>
  </app-card-component>
</div>
