.page-not-found-container{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    .content{
        position: relative;
        height: 500px;
        width: 500px;
    }
    .btn-go-back{
        position: relative;
        padding: 14px 32px;
        border-radius: 10px;
        outline: none;
        cursor: pointer;
        background: #DA6050;
        color: white;
        border: 2px solid #DA6050;
        #btn_go_back{
            text-decoration: none;
            color: white;
        }
        #btn_go_back:hover{
             color:#DA6050;
        }
    }
    .btn-go-back:hover{
        color:#DA6050;
        background: transparent;
      }
}