<div class="page-not-found-container">
  <div class="content">
    <img
      src="../../../../assets/images/page-not-found.svg"
      alt="page-not-found"
      height="100%"
      width="100%"
    />
  </div>
  <button routerLink="/" class="btn-go-back">Go Back</button>
</div>
