.update-order{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    transform: translate(-50%, -50%);
    
    .form{
        text-align: center;
        .inputs {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin-bottom: 1.5rem;
            font-size: 1.2rem;
            border-bottom: 1px solid rgba(231, 231, 231, 0.8);
            #name,
            #name::placeholder {
                width: 100%;
                border: none;
                background: none;
                margin-top: 0.5rem;
                outline: none;
                padding-bottom: 0.5rem;
                font-size: 1rem;
            }
            #quality,
            #quality::placeholder {
                width: 100%;
                border: none;
                background: none;
                margin-top: 0.5rem;
                outline: none;
                padding-bottom: 0.5rem;
                font-size: 1rem;
            }
        }
        
        .btn__action{
            display: flex;
            .button_submit{
                margin: 2px;
                border: 2px solid #DA6050;
                padding: 10px 28px;
                width: 100%;
                border-radius: 10px;
                font-size: 1rem;
                font-weight: bold;
                cursor: pointer;
                color: white;
                background-color: #DA6050;
            }
            .button_submit:hover{
                color: #DA6050;
                background: transparent;
            }
            .button_cancel{
                margin: 2px;
                border: 2px solid #DA6050;
                padding: 10px 28px;
                width: 100%;
                border-radius: 10px;
                font-size: 1rem;
                font-weight: bold;
                cursor: pointer;
                color: #DA6050;
                background-color: transparent;
            }
           
        }
    }
}