.navbar{
    background-color: #DA6050;
    display: flex;
    height: 80px;
    width: 100vw;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    .navbar__container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;
        padding: 0 50px;
        #navbar__logo {
            color: white;
            display: flex;
            align-items: center;
            cursor: pointer;
            text-decoration: none;
            font-size: 2rem;
          }
        .navbar__menu {
            display: flex;
            align-items: center;
            list-style: none;
            text-align: center;
        }
        .navbar__item {
            height: 80px;
            .navbar__links {
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                padding: 0 1rem;
                height: 100%;
            }
            .navbar__links:hover{
                color: white;
                background: #f26d5e;
            }
        }
    }
}