<nav class="navbar">
  <div class="navbar__container">
    <a routerLink="/" id="navbar__logo">Order</a>
    <ul class="navbar__menu">
      <li class="navbar__item">
        <a routerLink="/order" class="navbar__links">Show Order</a>
      </li>
      <li class="navbar__item">
        <a routerLink="/order/add-order" class="navbar__links">Add Order</a>
      </li>
    </ul>
  </div>
</nav>
